doctype 5
html
  head
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/socket.io/socket.io.js')
    script
      var socket = io.connect();

      socket.on('message', function (msg) {
        $('#log').empty();
        var n;
        for (n in msg) {
          $('#log').append($('<li>').text(n).append($('  <code>').text(JSON.stringify( msg[n] )) ));
        }
      });

  body
    #log